<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>Perception BBox Scenario Viewer</title>
    <style>
      body {
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: white;
        font-family: sans-serif;
      }

      .image {
        background-size: contain;
        position: absolute;
        width: 640px;
        top: 50px;
      }

      .left {
        left: 50px;
      }
      .right {
        left: 720px;
      }
    </style>
  </head>
  <body>
    <div class="image left"></div>
    <div class="image right"></div>

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="module">
      // var dump = JSON.parse('{{dump | tojson | safe}}');

      var preload = new Image();
      $(preload).on('load', () => {
        var scale = 640 / preload.width
        var width = 640
        var height = Math.floor(preload.height * scale)

        // Load the image.
        $('.left').css({
          'background-image': 'url(' + $(location).attr("href") + '/images/left' + ')',
          'width': width,
          'height': height
        })
        $('.right').css({
          'background-image': 'url(' + $(location).attr("href") + '/images/right' + ')',
          'width': width,
          'height': height
        })
      }).attr({
        src: $(location).attr("href") + '/images/left'
      });
    </script>
  </body>
</html>
