<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>Perception BBox Scenario Viewer</title>
    <style>
      body {
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: white;
        font-family: sans-serif;
      }

      .image {
        background-size: contain;
        position: absolute;
        width: 640px;
        left: 100px;
        top: 100px;
      }
      canvas {
        position: absolute;
        left: 100px;
        top: 100px;
        z-index: 10;
      }
    </style>
  </head>
  <body>
    <div class="image"></div>
    <canvas width="1000" height="1000"></canvas>

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="module">
      var dump = JSON.parse('{{dump | tojson | safe}}');

      var preload = new Image();
      $(preload).on('load', () => {
        var scale = 640 / preload.width
        var width = 640
        var height = Math.floor(preload.height * scale)

        // Load the image.
        $('.image').css({
          'background-image': 'url(' + $(location).attr("href") + '/images/image' + ')',
          'width': width,
          'height': height
        })

        // Draw the bounding boxes.
        var ctx = $('canvas')[0].getContext('2d')

        ctx.lineWidth = 1
        ctx.strokeStyle = '#00ff00'

        dump['detected'].forEach((b) => {
          ctx.strokeRect(
            Math.floor(b['position'][0] * scale),
            Math.floor(b['position'][1] * scale),
            Math.floor(b['shape'][0] * scale),
            Math.floor(b['shape'][1] * scale)
          )
        })
      }).attr({
        src: $(location).attr("href") + '/images/image'
      });
    </script>
  </body>
</html>
